<h1>Where are we headed next?</h1>
<p>Create a new trip</p>

<%= form_for @trip do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :name %><br>
  <%= f.text_field :start_date %><br>
  <%= f.check_box :completed, {}, 1, 0 %> Trip Completed?<br>
  <%= f.submit %>
<% end %>
