<h1><%= @trip.name %></h1>
<p><% @trip.destinations.each do |d| %>
      <%= link_to d.name, destination_path(d) %> -
      <%= link_to "remove from trip", @trip.plan(d.id), method: :delete %>
    <% end %></p>

<%= link_to "edit trip.", edit_user_trip_path(@current_user, @trip) %>
<%= link_to "delete trip.", @trip, method: :delete %>
