  <div class="comment">
    <p>
      <span class="comment-username">{{comment.user_id}} says:</span><br><br>
      <span class="comment-content">{{comment.content}}</span><br><br>
      <span class="comment-likes">{{comment.likes}}</span>
      <a data-commentid="{{comment.id}}" id="edit-comment" class="comment-links" href="/destinations/{{comment.destination_id}}/comments/{{comment.id}}/edit">edit.</a>
      <a data-commentid="{{comment.id}}" id="like-button" class="comment-links" href="#">like.</a>
      <a data-commentid="{{comment.id}}" id="dislike-button" class="comment-links" href="#">dislike.</a>
    </p>
  </div><br>
