<% @destination.comments.top_comment.each do |c| %>
  <div class="comment">
    <p>
      <span class="comment-username"><%= c.user.username.capitalize %> says:</span><br><br>
      <span class="comment-content"><%= c.content %></span><br><br>
      <span class="comment-likes"><%= c.likes %></span>
      <%= link_to "like.", "#", :"data-commentId" => c.id, class: "comment-links like-button" %>

      <%= link_to "dislike.", "#", :"data-commentId" => c.id, id: "dislike-button", class: "comment-links" %>
    </p>
  </div><br>
<% end %>
