<% @destination.comments.top_comment.each do |c| %>
  <div class="comment">
    <p>
      <!-- <span class="comment-username"><%#= c.user.username.capitalize %> says:</span><br><br> -->
      <span class="comment-content"><%= c.content %></span><br><br>
      <span class="comment-likes" id="comment-<%= c.id %>-likes"><%= c.likes %></span>
      <%= link_to "like.", "#", data: {"commentId"=> c.id, "likes"=> c.likes, "destination" => c.destination_id}, class: "comment-links like-button" %>
      <%= link_to "dislike.", "#", data: {"commentId"=> c.id, "likes"=> c.likes, "destination" => c.destination_id}, class: "comment-links dislike-button" %>
    </p>
  </div><br>
<% end %>
