<p class="location">Location: <%= @destination.city%>, <%= @destination.country %></p><br>

<p>Description: <br><br>
  <%= @destination.description %>
</p> <br>

<p>Must-Do's: <br><br>
  <%= @destination.must_dos %>
</p> <br>

<p>Don't-Do's: <br><br>
  <%= @destination.dont_dos %>
</p> <br>

<p>Day-trips: <br><br>
  <%= @destination.day_trips %>
</p> <br>
