<p  id="location" class="location">Location: <%= @destination.city%>, <%= @destination.country %></p><br>

<p><strong>Description:</strong> <br><br>
  <p id="description"> <%= @destination.description %></p>
</p> <br>

<p><strong>Must-Do's: </strong><br><br>
  <p id="must_dos"><%= @destination.must_dos %></p>
</p> <br>

<p><strong>Don't-Do's:</strong> <br><br>
  <p id="dont_dos"><%= @destination.dont_dos %></p>
</p> <br>

<p><strong>Day-trips: </strong><br><br>
  <p id="day_trips"><%= @destination.day_trips %></p>
</p> <br>
