<h1>What's your newest destination?</h1>

<%= form_for @destination do |f| %>
  <%= f.hidden_field :creator_id, :id  %>
  <%= f.text_field :name  %><br>
  <%= f.text_field :city  %><br>
  <%= f.text_field :country  %><br>
  <%= f.text_area :description  %><br>
  <%= f.text_area :must_dos  %><br>
  <%= f.text_area :dont_dos  %><br>
  <%= f.text_area :day_trips  %><br>
  <%= f.text_field :image_url  %><br>
  <%= f.submit %>
<% end %>
