<div id="header-image" class="<%= random_class %>">
  <section class="header-box"><%= @destination.name %>.</section><br>
</div>
<br>

<!-- Content -->
<div class="wrapper show-wrapper">
  <section class="dest-info">
    <p class="location">Location: <%= @destination.city%>, <%= @destination.country %></p><br>
    <p>Description: <br><br>
      <%= @destination.description %>
    </p> <br>
    <p>Must-Do's: <br><br>
      <%= @destination.must_dos %>
    </p> <br>
    <p>Don't-Do's: <br><br>
      <%= @destination.dont_dos %>
    </p> <br>
    <p>Day-trips: <br><br>
      <%= @destination.day_trips %>
    </p> <br>

    <div class="action-buttons">
      <%= link_to "Add to my trip", new_destination_plan_path(@destination) %><br>
      <% if @destination.creator == @current_user %>
        <%= link_to "Update this destination", edit_destination_path(@destination)%><br>
        <%= link_to "Delete this destination", @destination, method: :delete %>
      <% end %>
    </div>
  </section>

  <section class="comments">
    <br><br>
    <p>Comments:</p>
    <div class="comment-div">
      <% @destination.comments.top_comment.each do |c| %>
        <div class="comment">
          <p>
            <%= c.user.username.capitalize %> says:<br><br>
            <%= c.content %><br><br>
            <%= c.likes %>
            <%= link_to "edit.", edit_destination_comment_path(@destination, c), class: "comment-links" if c.user == @current_user %>
            <%= link_to "like.", like_comment_path(c), class: "comment-links", method: :post %>
            <%= link_to "dislike.", dislike_comment_path(c), class: "comment-links", method: :post %>
          </p>
        </div><br>
      <% end %>
    </div>

    <%= link_to "Leave a suggestion", new_destination_comment_path(@destination), class:"button" %><br><br>
  </section>
</div>
