<div id="header-image" class="<%= random_class %>">
  <section id='dest-name' class="header-box"><%= @destination.name %>.</section><br>
</div>
<br>
<div id="user" data-user_id="<%=@current_user.id%>"/>
<!-- Content -->
<div class="wrapper show-wrapper">

  <section class="dest-info">
    <%= render 'content' %>

    <div class="action-buttons">
      <%= link_to "Add to my trip", new_destination_plan_path(@destination), id:'add' %><br>

      <% if @destination.creator == @current_user %>
      <div id="conditional-buttons">
        <%= link_to "Update this destination", edit_destination_path(@destination), id:'update'%><br>
        <%= link_to "Delete this destination", @destination, method: :delete, id:'delete' %>
      </div>
      <% end %>

    </div>

  </section>

<!-- Comments -->
  <section class="comments">
    <br><br>
    <%= link_to "Previous Destination", "#", :"data-destId" => @destination.id, id: "previous-button", class: @destination.id == 1 ? "button first" : "button"%><br>
    <%= link_to "Next Destination", "#", :"data-destId" => @destination.id, id: "next-button", class:"button"%><br>
    <br>

    <p>Comments:</p>
    <div class="comment-div">
        <%= render 'comments' %>
    </div><br>

    <!-- button to show comments form -->
    <%= link_to "Leave a suggestion", "#", class:"button show-form" %>
    <div id="comment-form">
      <form>
        <%= link_to "Post comment", "#", class:"button submit-comment", :'data-destination_id' => @destination.id, :'data-user_id' => @current_user.id  %>
        <br><br>

        <textarea class="comment-textarea" placeholder="leave a message here."></textarea>
      </form>
    </div>
    <br><br>
  </section>
</div>
