<h1>What trip do you want to add this destination to?</h1>
  <%= form_for @plan do |f| %>
    <%= f.hidden_field :destination_id %>
    <%= f.label :trip_id, value: "select a trip" %><br>
    <%= f.collection_select :trip_id, @current_user.trips, :id, :name, include_blank: "Create new trip." %><br>

    <%= f.label :trip_id, value: "or create a new trip" %><br>
    <%= f.fields_for @plan.build_trip do |t| %>
      <%= t.text_field :name, placeholder: "new trip name." %><br>
    <% end %>
    <%= f.submit "add #{@plan.destination.name}"%>
  <% end %>
