<!DOCTYPE html>
<html>
  <head>
    <title>Goat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "home", root_path %>
        <%= link_to "destinations", destinations_path %>
        <%= link_to "login", new_session_path %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
