<!DOCTYPE html>
<html>
  <head>
    <title>Goat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <span id="logo-link"><%= link_to "goat.", root_path %></span>
        <%= link_to "destinations", destinations_path %>
        <!-- <%= link_to "my destinations", "#",  id:"my-destinations", :'data-id'=> @current_user.id if @current_user %>
        <%= link_to "my trips", user_path(@current_user) if @current_user %> -->
        <%= link_to "my profile", user_path(@current_user) if @current_user %>
        <%= link_to "login", '/login' if !@current_user%>
        <%= link_to "logout", '/logout' if @current_user %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
